<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8 panel-body">
        <div class="table100">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr class="table100-head">
                        <th>ID Number</th>
                        <th>Date of Birth</th>
                        <th>Gender</th>
                        <th>CitizenShip</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of resident">
                        <td>{{ item.idNumber }}</td>
                        <td>{{ item.dateOfBirth }}</td>
                        <td>{{ item.gender }}</td>
                        <td>{{ item.citizenship? "Yes": "No" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-2">
        
        </div>
</div>